@charset "utf-8";

/*inf*/
.infoList{
    width:300px;
    margin:50px auto 0;
    padding:10px;
    /*background:#fff;*/
    /*border:1px solid #ccc;*/
    border-radius:4px;
}
.infoList ul li{
    font-size: 20px;
    padding-bottom:5px;
    margin-bottom:15px;
    border-bottom:1px dashed #ccc;
}

.infoList ul li span{
    display:inline-block;
}

.infoList ul li span.inf_t{
    color:#999;
}

.infoList ul li span.inf_d{
    color:#333;
}

