<!--<link rel="stylesheet" type="text/css" href="modules/core/setting/user.css" />-->
<!--contents-->

<div class="container"
	ng-controller="roleController" ng-init="initialize()">
	<div class="row">
		<div class="col-md-4">
			<div class="text-right">
				<button class="btn btn-primary" ng-click="doAddRole()" id="">Add</button>
			</div>
			<div class="customerTableBox_5" ng-grid="gridRoleListOptions"></div>
		</div>
		<div  class="col-md-8">
			<div >
				<div class="addUserBtns ms-fl">
					<select style="margin-left: 10px;width: 92px" id="s1_text1_bold"
						ng-model="filte.property_id"
						ng-change="creadfilterText(0)"
						ng-options="r.id as r.name for r in popUserPermission.propertyData">
						<option value=""></option>
					</select>
					<select style="width: 74px" id="s1_text1_bold"
						ng-model="filte.application_id"
						ng-change="creadfilterText(1)"
						ng-options="r.id as r.application for r in popUserPermission.applicationData">
						<option value=""></option>
					</select>	
					<select style="width: 74px" id="s1_text1_bold"
						ng-model="filte.module_id"
						ng-change="creadfilterText(2)"
						ng-options="r.id as r.module for r in popUserPermission.moduleData">
						<option value=""></option>
					</select>	
					<select style="width: 92px" id="s1_text1_bold"
						ng-model="filte.controller_id"
						ng-change="creadfilterText(3)"
						ng-options="r.id as r.controller for r in popUserPermission.controllerData">
						<option value=""></option>
					</select>						
				</div>
				<div class="text-right">
					<button class="btn btn-primary" ng-click="doAddPermission()" id="">Add</button>
				</div>
			</div>
			<div class="customerTableBox_5" ng-grid="gridRoleInfo"></div>
		</div>
	</div>
	<div class="clear"></div>
<!-- 	<pop-user-permission user-permissioncharge-info="popUserPermission"
		ng-show="popUserPermission.isShow"
		do-permissioncharge="doUpdatePermission()"></pop-user-permission>
	<pop-Role role="popRole" ng-show="popRole.isShow"
		do-role-charge="doUpdateRole()">
	</pop-user-permission> -->
</div>