<!--<link rel="stylesheet" type="text/css" href="modules/core/setting/user.css" />-->
<!--contents-->
<div class="container" ng-controller="userController"
	ng-init="initialize()">
	<!-- <div class="customer"> -->
	<div class="row">
		<div class="col-md-10">
			<div class="form-inline">
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"
							translate="GRID_TITLE_TXT_USER_MANATER_USERNAME"></div>
						<input type="text" class="form-control" id='username'
							ng-model="search.username">
					</div>
					<div class="input-group">
						<div class="input-group-addon"
							translate="GRID_TITLE_TXT_USER_MANATER_COMPANY"></div>
						<input type="text" class="form-control" id='company'
							ng-model="search.company">
					</div>
						<button class="btn btn-primary" ng-click="doSearch()">Search</button>
				</div>
			</div>
		</div>
		<div class="col-md-2 text-right">
			<!-- <button class="btn btn-primary" ng-click="doDelUser()">Delete</button> -->
			<button class="btn btn-primary" ng-click="doAddUser()" id="">Add</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<div style="min-height:385px" ng-grid="gridUserListOptions"></div>
		</div>
	</div>
<!-- 	<div class="row">
		<div class="col-md-5">
			<div  style="min-height:0px;max-height:200px" ng-grid="gridUserRoleOptions"></div>
		</div>
		<div class="col-md-7">
			<div style="min-height:0px;max-height:200px"  ng-grid="gridUserPermissionOptions"></div>
		</div>
	</div> -->
</div>
<!-- <div class="clear"></div> -->
</div>