<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.core.sql">
	<select id="ct_select_application" resultType="HashMap" parameterType="HashMap">
		SELECT id,
		       application,
		       active,
		       order_by,
		       default_url,
		       show_in_menu,
		       menu_title
		FROM   ct_application
	  <where>
	  		<if test="application != null and application != ''">
			application = #{application}
			</if>
	  </where>
	</select>
	<update id="ct_application_update"  parameterType="HashMap">
		UPDATE ct_application
		   SET 
		   	<if test="application != null and application != ''">
		       application = #{application},
		    </if>
		    <if test="active != null">
		       active = #{active},
		    </if>
		    <if test="description != null and description != ''">
		       description = #{description},
		    </if>
		    <if test="default_url != null and default_url != ''">
		       default_url = #{default_url},
		    </if>
		    <if test="order_by != null and order_by != ''">
		       order_by = #{order_by},
		    </if>		    
		    <if test="show_in_menu != null">
		       show_in_menu = #{show_in_menu},
		    </if>
		    <if test="menu_title != null and menu_title != ''">
		       menu_title = #{menu_title},
		    </if>
		       modified = now(),
		       modifier = #{modifier}
       	where id=#{id}
	</update>
	<insert id="ct_application_insert"  parameterType="HashMap" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO ct_application(
                         application,
                         <if test="active != null">
                         active,
                         </if>
                         <if test="description != null and description != ''">
                         description,
                         </if>
                         <if test="default_url != null and default_url != ''">
                         default_url,
                         </if>
                         <if test="show_in_menu != null">
                         show_in_menu,
                         </if>
                         <if test="menu_title != null and menu_title != ''">
                         menu_title,
                         </if>
					   	<if test="order_by != null and order_by != ''">
						   order_by,
						</if>	                                     
                         created,
                         creater,
                         modified,
                         modifier)
		VALUES (
		        #{application},
		        <if test="active != null">
		        #{active},
		        </if>
		        <if test="description != null and description != ''">
		        #{description},
		        </if>
		        <if test="default_url != null and default_url != ''">
		        #{default_url},
		        </if>
		        <if test="show_in_menu != null">
		        #{show_in_menu},
		        </if>
		        <if test="menu_title != null and menu_title != ''">
		        #{menu_title},
		        </if>
		        <if test="order_by != null and order_by != ''">
				#{order_by},
				</if>	
		        now(),
		        #{modifier},
		        now(),
		        #{modifier});
	</insert>
	<select id="ct_select_module" resultType="HashMap" parameterType="HashMap">
	SELECT id,
	       application_id,
	       module,
	       active,
	       default_url,
	       show_in_menu,
	       "aaaaaa",
	       menu_title,
	       order_by
	  FROM ct_module
	<where>
  		<if test="application_id != null and application_id != ''">
			application_id = #{application_id}
		</if>
		<if test="module != null and module != ''">
			and module = #{module}
		</if>
    </where>
	  Order by application_id
	</select>	
	<update id="ct_module_update"  parameterType="HashMap">
		UPDATE ct_module
		   SET 
		   	<if test="application_id != null and application_id != ''">
		       application_id = #{application_id},
		    </if>
		   	<if test="module != null and module != ''">
		       module = #{module},
		    </if>		    
		    <if test="active != null">
		       active = #{active},
		    </if>
		    <if test="description != null and description != ''">
		       description = #{description},
		    </if>
		    <if test="default_url != null and default_url != ''">
		       default_url = #{default_url},
		    </if>
		    <if test="show_in_menu != null">
		       show_in_menu = #{show_in_menu},
		    </if>
		    <if test="menu_title != null and menu_title != ''">
		       menu_title = #{menu_title},
		    </if>
		       modified = now(),
		       modifier = #{modifier}
       	where id=#{id}
	</update>	
<insert id="ct_module_insert" parameterType="HashMap" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO ct_module(
									 application_id,
                                     module,
                                     <if test="active != null">
                                     active,
                                     </if>
                                     <if test="description != null and description != ''">
                                     description,
                                     </if>
                                     <if test="default_url != null and default_url != ''">
                                     default_url,
                                     </if>
                                     <if test="show_in_menu != null">
                                     show_in_menu,
                                     </if>
                                     <if test="menu_title != null and menu_title != ''">
                                     menu_title,
                                     </if>
                                     created,
                                     creater,
                                     modified,
                                     modifier)
VALUES (
        #{application_id},
        #{module},
        <if test="active != null">
        #{active},
        </if>
        <if test="description != null and description != ''">
        #{description},
        </if>
        <if test="default_url != null and default_url != ''">
        #{default_url},
        </if>
        <if test="show_in_menu != null">
        #{show_in_menu},
        </if>
        <if test="menu_title != null and menu_title != ''">
        #{menu_title},
        </if>
        now(),
        #{modifier},
        now(),
        #{modifier});
	</insert>	
	
	<select id="ct_user_select_all_controller" resultType="HashMap" parameterType="HashMap">
			SELECT t.id,
				t.module_id,
		       t.controller,
		       t.order_by,
		       t.show_in_menu,
		       t.menu_title,
		       t.description,
		       t.default_url,
		       t.active
		  FROM ct_controller t
		<where>
  		<if test="module_id != null and module_id != ''">
			t.module_id = #{module_id}
		</if>
		<if test="controller != null and controller != ''">
			and controller = #{controller}
		</if>
    </where>
		  Order by module_id
	</select>
	<update id="ct_controller_update"  parameterType="HashMap">
		UPDATE ct_controller
		   SET 
		   	<if test="module_id != null and module_id != ''">
		       module_id = #{module_id},
		    </if>
		   	<if test="controller != null and controller != ''">
		       controller = #{controller},
		    </if>		    
		    <if test="active != null">
		       active = #{active},
		    </if>
		    <if test="description != null and description != ''">
		       description = #{description},
		    </if>
		    <if test="default_url != null and default_url != ''">
		       default_url = #{default_url},
		    </if>
		    <if test="show_in_menu != null">
		       show_in_menu = #{show_in_menu},
		    </if>
		    <if test="menu_title != null and menu_title != ''">
		       menu_title = #{menu_title},
		    </if>
		    <if test="order_by != null and order_by != ''">
		    	order_by = #{order_by},
		    </if>
		    <if test="active != null">
		    	active = #{active},
		    </if>
		       modified = now(),
		       modifier = #{modifier}
       	where id=#{id}
	</update>	
	<insert id="ct_controller_insert" parameterType="HashMap" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO ct_controller(
					       module_id,
                           controller,
                           <if test="active != null">
                           active,
                           </if>
                           <if test="description != null and description != ''">
                           description,
                           </if>
                           <if test="default_url != null and default_url != ''">
                           default_url,
                           </if>
                           <if test="show_in_menu != null">
                           show_in_menu,
                           </if>
                           <if test="menu_title != null and menu_title != ''">
                           menu_title,
                           </if>
                           <if test="order_by != null and order_by != ''">
						   order_by,
						   </if>
                           created,
                           creater,
                           modified,
                           modifier)
		VALUES (
		        #{module_id},
		        #{controller},
		        <if test="active != null">
		        #{active},
		        </if>
		        <if test="description != null and description != ''">
		        #{description},
		        </if>
		        <if test="default_url != null and default_url != ''">
		        #{default_url},
		        </if>
		        <if test="show_in_menu != null">
		        #{show_in_menu},
		        </if>
		        <if test="menu_title != null and menu_title != ''">
		        #{menu_title},
		        </if>
		        <if test="order_by != null and order_by != ''">
				#{order_by},
				</if>
		        now(),
		        #{modifier},
		        now(),
		        #{modifier});
	</insert>	
	
	<select id="ct_select_all_action" resultType="HashMap" parameterType="HashMap" >
		  SELECT t.id,
                 t.controller_id,
		         t.name,
		         t.description,
		         t.order_by,
		         t.active
		  FROM   ct_action t
		  <where>
		  	<if test="controller_id != null and controller_id != ''">
        		controller_id=#{controller_id}
        	</if>
		  	<if test="name != null and name != ''">
        		and name=#{name}
        	</if>        	
		  </where>
		  Order by controller_id
	</select>	
	<update id="ct_action_update" parameterType="HashMap">
		UPDATE ct_action
		   SET 
		   	<if test="controller_id != null and controller_id != ''">
		       controller_id = #{controller_id},
		    </if>
		   	<if test="name != null and name != ''">
		       name = #{name},
		    </if>		    
		    <if test="description != null and description != ''">
		       description = #{description},
		    </if>
		    <if test="order_by != null and order_by != ''">
		       order_by = #{order_by},
		    </if>
		    <if test="active != null">
		    	active = #{active},
		    </if>
		       modified = now(),
		       modifier = #{modifier}
       	where id=#{id}
	</update>	
	<insert  id="ct_action_insert" parameterType="HashMap" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO ct_action(
				 controller_id,
                 name,
                 <if test="active != null">
                 active,
                 </if>
                 <if test="description != null and description != ''">
                 description,
                 </if>
                 <if test="order_by != null and order_by != ''">
				 order_by,
				 </if>
                 created,
                 creater,
                 modified,
                 modifier)
		VALUES (
		        #{controller_id},
		        #{name},
		        <if test="active != null">
		        #{active},
		        </if>
		        <if test="description != null and description != ''">
		        #{description},
		        </if>
		        <if test="order_by != null and order_by != ''">
				#{order_by},
				</if>
		        now(),
		        #{modifier},
		        now(),
		        #{modifier});
	</insert >		
</mapper>
