<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyageone.core.sql">

	<select id="ct_role_select" resultType="HashMap" parameterType="HashMap">
		SELECT t.id,
	       t.role,
	       t.default_view,
	       t.is_admin,
	       t.active
	 	 FROM ct_role t
	 	<where>
	 		<if test="role != null and role != '' ">
			and t.role = #{role}
			</if>
			<if test="default_view != null and default_view != '' ">
			and t.default_view = #{default_view}
			</if>
			<if test="is_admin != null and is_admin != '' ">
			and t.is_admin = #{is_admin}
			</if>
			<if test="active != null and active != '' ">
			and t.active = #{active}
			</if>
	 	</where>
	</select>
	<update id="ct_role_update" parameterType="HashMap">
		UPDATE ct_role
	   		SET 
	   		<if test="role != null and role != '' ">
	   		role = #{role},
       		default_view = #{default_view},
       		is_admin = #{is_admin},
       		</if>
       		active = #{active},
       		modified = now()
       	where id=#{id}
	</update>
	<insert id="ct_role_insert" parameterType="HashMap">
		INSERT INTO ct_role(role,
							<if test="default_view != null and default_view != '' ">
                            default_view,
                            </if>
                            <if test="is_admin != null ">
                            is_admin,
                           	</if>
                           	<if test="active != null ">
                            active,
                            </if>
                            created,
                                     creater,
                                     modified,
                                     modifier
                            )
		VALUES (#{role},
				<if test="default_view != null and default_view != '' ">
		        #{default_view},
		        </if>
		         <if test="is_admin != null ">
		        #{is_admin},
		        </if>
		        <if test="active != null ">
		        #{active},
		        </if>
		        now(),
        #{modifier},
        now(),
        #{modifier})
	</insert>
	<select id="ct_role_getRoleInfo" resultType="HashMap"
		parameterType="HashMap">
	SELECT 
	       t2.id,
	       t1.role,
	       t2.role_id,
	       t2.property_id,
	       t3.full_name AS property_name,
	       t2.action_id,
	       t4.name AS action_name,
	       t4.controller_id,
	       t5.controller,
	       t5.module_id,
	       t6.module,
	       t6.application_id,
	       t7.application,
	       t2.value,
		   t2.active  
	FROM   ct_role t1,
	       ct_role_permission t2,
	       tm_order_channel t3,
	       ct_action t4,
	       ct_controller t5,
	       ct_module t6,
	       ct_application t7
	 WHERE t1.id = t2.role_id
	       AND t2.property_id = t3.order_channel_id
	       AND t2.action_id = t4.id
	       AND t4.controller_id = t5.id
	       AND t5.module_id = t6.id
	       AND t6.application_id = t7.id
       <if test="role_id != null and role_id != '' ">
			AND t2.role_id = #{role_id}
		</if>
        <if test="property_id != null and property_id != '' ">
			AND t2.property_id = #{property_id}
		</if>
        <if test="action_id != null and action_id != '' ">
			AND t2.action_id = #{action_id}
		</if>	
        <if test="controller_id != null and controller_id != '' ">
			AND t2.controller_id = #{controller_id}
		</if>	
		order by t2.property_id,t7.id,t6.id,t5.id,t4.id		
	</select>
	<insert id="ct_role_permission_insert" parameterType="HashMap">
		INSERT INTO ct_role_permission(
					property_id,
	                role_id,
	                controller_id,
	                action_id,
	                value,
	                active,
	                created,
                    creater,
                    modified,
                    modifier)
		VALUES (#{property_id},
		        #{role_id},
		        #{controller_id},
		        #{action_id},
		        #{value},
		        #{active},
		         now(),
        #{modifier},
        now(),
        #{modifier})
	</insert>
	<update id="ct_role_permission_update" parameterType="HashMap">
		UPDATE ct_role_permission
   		SET 
   			<if test="property_id != null and property_id != '' ">
   			property_id = #{property_id},
		    role_id = #{role_id},
		    controller_id = #{controller_id},
		    action_id = #{action_id},
		    value = #{value},
		    active = #{active},
	       </if>
	       modified = now(),
	       modifier =#{modifier}
	    where id=#{id}
	</update>
</mapper>
