
.userEditTableBox_2 {
	height: 300px;
}

.popEditUserCons {
	width: 280px;
	height: 220px;
	left: 50%;
	top: 50%;
	margin-top: -95px;
	margin-left: -140px;
}

.popEditUserCons2 {
	width: 380px;
	margin-top: -200px;
	margin-left: -140px
}

.customerTableBox_5 {
	height: 385px;
	margin-left: 10px
}

.customerTableBox_4 {
	height: 385px;
}