@import url('/styles/css/font-awesome.min.css');

/* GLOBALS */
html {
    height: 100%;
    background: #ddd url('/styles/images/voyageOne/bg_body.jpg') repeat top left;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearFix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #555;
    text-decoration: none;
}

.container {
    width: 100%;
    position: relative;
}

.clr {
    clear: both;
    padding: 0;
    height: 0;
    margin: 0;
}

.main {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.container > header {
    margin: 50px 10px 10px;
    padding: 20px 10px 10px 10px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}

/*companies*/

.errorMes{
    width:360px;
    margin:0 auto;
}

.errorMes_success{
    text-align: left;
    font-weight:700;
    /*color:#096A00;*/
    color:#1CC128;
    padding:5px;
}
.errorMes_error{
    text-align: left;
    font-weight:700;
    color: #FF0000;
    padding:5px;
}
.errorMes_warn{
    text-align: left;
    font-weight:700;
    /*color:#333;*/
    color: #ECEC00;
    padding:5px;
}

.validation-error{
    background: #FFA2A2;
}

#topQQ {
    position: absolute;
    right: 0;
    top: -1px;
    _width: 230px;
    height: 21px;
    background: #000 url('/styles/images/voyageOne/topQQ.gif') no-repeat 0 0;
}

#topQQ div {
    background: url('/styles/images/voyageOne/topQQ.gif') no-repeat right -21px;
    height: 21px;
}

#topQQ span {
    display: block;
    height: 20px;
    text-align: center;
    margin: 0 14px;
    border-bottom: 1px solid #233547;
    color:#fff;
}

#topQQ a {
    display: inline-block;
    color: #fff;
    padding: 0 5px;;
}

#topQQ a:hover {
    color: #31b0d5;
}

























