<div class="ngdialog-message">

    <div class="row">
        <div class="col-xs-12">
            <span ng-bind="popupAnnouncement.announcementInfo"></span>
        </div>
    </div>
    <!--<div class="row mt20">-->
        <!--&lt;!&ndash;<div class="col-xs-3 col-xs-offset-3">&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="btn btn-primary btn-sm form-control" translate="BUTTON_OK" ng-click="doOk()"></button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="col-xs-3 col-xs-offset-6">-->
            <!--<button class="btn btn-primary btn-sm form-control" translate="BUTTON_SUB_CANCEL" ng-click="closeThisDialog()"></button>-->
        <!--</div>-->
    <!--</div>-->
</div>
