<div class="ngdialog-message" ng-init="initialize()">
	<h3 class="mt0 p-sm border-bottom-1" translate="Edit Permission"></h3>
	<div class="popUpCons popEditUserCons2">
		<div>
			<div class="row row-pop row-flow">
				<div class="col-md-12">
					<form name="userPermissionForm" id="userPermissionForm">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th translate="GRID_TITLE_TXT_USER_MANATER_PROPERTY"></th>
									<td><select class="form-control"
										id="s1_text1_bold"
										ng-model="popUserPermission.permission.property_id"
										ng-options="p.id as p.name for p in popUserPermission.propertyData"
										required>
									</select></td>
								</tr>
								<tr>
									<th translate="TITLE_TXT_APPLICATION"></th>
									<td><select class="form-control"
										id="s1_text1_bold"
										ng-model="popUserPermission.permission.application_id"
										ng-options="r.id as r.application for r in popUserPermission.applicationData"
										ng-change="onSelectChang(popUserPermission.permission.application_id,
																 popUserPermission.applicationData)"
										required>
									</select></td>
								</tr>
								<tr>
									<th translate="TITLE_TXT_MODULE"></th>
									<td><select class="form-control"
										id="s1_text1_bold"
										ng-model="popUserPermission.permission.module_id"
										ng-options="r.id as r.module for r in popUserPermission.moduleData"
										ng-change="onSelectChang(popUserPermission.permission.module_id
																,popUserPermission.moduleData)"
										required>
									</select></td>
								</tr>
								<tr>
									<th translate="GRID_TITLE_TXT_USER_MANATER_CONTROLLER"></th>
									<td><select class="form-control"
										id="s1_text1_bold"
										ng-model="popUserPermission.permission.controller_id"
										ng-options="r.id as r.controller for r in popUserPermission.controllerData"
										ng-change="onSelectChang(popUserPermission.permission.controller_id
																,popUserPermission.controllerData)"
										required>
									</select></td>
								</tr>
								<tr>
									<th translate="GRID_TITLE_TXT_USER_MANATER_ACTION"></th>
									<td><select class="btn btn-default form-control"
										id="s1_text1_bold"
										ng-model="popUserPermission.permission.action_id"
										ng-options="p.id as p.name for p in popUserPermission.actionData"
										required>
									</select></td>
								</tr>
								<tr>
									<th translate="GRID_TITLE_TXT_USER_MANATER_VALUE"></th>
									<td><input type="checkbox" id="value"
										ng-model="popUserPermission.permission.value" /></td>
								</tr>
								<tr>
									<th translate="TITLE_TXT_ACTIVE"></th>
									<td><input type="checkbox" id="active"
										ng-model="popUserPermission.permission.active" /></td>
								</tr>
							<tbody>
						</table>
						<div class="text-right">
							<button  style="width: 70px" class="btn btn-primary" ng-click="doOk()">Save</button>
							<button class="btn btn-primary" ng-click="closeThisDialog()">Cancel</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>