<div class="ngdialog-message" ng-init="initialize()">
	<h3 class="mt0 p-sm border-bottom-1" translate="Password"></h3>
	<div class="popUpCons popEditUserCons2">
		<div>
			<div class="row row-pop row-flow">
				<div class="col-md-12">
					<form name="userPasswordForm" id="userPasswordForm">
						<input type="hidden" ng-mode="popUserPassword.user_id">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th translate="CORE_TXT_PASSWORD"></th>
									<td><input type="text" id="description"
										class="form-control"
										ng-model="popUserPassword.password" required></td>
								</tr>
							<tbody>
						</table>
						<div class="text-right">
							<button style="width: 70px" class="btn btn-primary"
								ng-click="doOk()">Save</button>
							<button class="btn btn-primary" ng-click="closeThisDialog()">Cancel</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>