/*@import url('../../styles/css/font-awesome.min.css');*/
@charset "utf-8";
/* 初始化样式 */
html, body {
    height: 100%;
    background: url('../../styles/images/bg_body.jpg') repeat top left;
    font-family: arial, "宋体", "微软雅黑";
}

footer {
    text-align: center;
    font-size: 12px;
    color: #666;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
    min-width: 1060px;
}

/* 头部 */
.head {
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    width: 100%;
    min-width: 1060px;
    font-size: 12px;
    z-index: 10;
    background: url('../../styles/images/bg.gif') repeat-x left top;
    padding-top: 12px;
    _padding-top: 9px;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop)+0);
}

.center {
    /*width: 1060px;*/
    margin: 0 auto;
}

/** 主页面右上角用户信息和语言选择 **/
.menu-top {
    position: absolute;
    right: 0;
    top: -5px;
    width: 120px;
    height: 20px;
    background: #000 url('../../styles/images/topQQ.gif') no-repeat 0 0;
}

.menu-top div {
    height: 21px;
    background: #000 url('../../styles/images/topQQ.gif') no-repeat 0 0;
}

.menu-top span {
    display: block;
    height: 21px;
    text-align: center;
    margin: 0 10px;
    border-bottom: 1px solid #233547;
    color: #fff;
}

.menu-top a {
    display: inline-block;
    color: #fff;
    padding: 0 5px;;
}

.menu-top a:hover {
    color: #31b0d5;
}

/*用户信息*/
.menu-user-info {
    position: absolute;
    right: 130px;
    top: 3px;
    color: #fff;
}

.menu-user-info a {
    display: inline-block;
    color: #E48E47;
}

.menu-user-info a:hover {
    color: #31b0d5;
}

.menu-user-info span {
    display: inline-block;
    margin-left: 10px;
}

/*公司信息*/
.companies {
    float: right;
    width: 180px;
    height: 24px;
    position: relative;
    top: 8px;
    margin-right: 20px;
}

/*阿里的图标显示*/
.ali_pres {
    background: url('../../styles/images/icon_wang.png') 10px center no-repeat;
    background-size: 20px 20px;
    text-indent: 30px;
    padding-left: 35px;
    line-height: 26px;
}

/*阿里的图标显示*/
/*.error_pres {*/
    /*background: url('../../styles/images/exclamation.png') 10px center no-repeat;*/
    /*background-size: 20px 20px;*/
    /*text-indent: 30px;*/
    /*padding-left: 35px;*/
    /*line-height: 26px;*/
/*}*/

/*面包屑*/
/*#mbx {
    margin: 5px auto;
    font-size: 12px;
    color: #666;
}

#mbx a {
    color: #666;
}

.companies select {
    width: 155px;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
}

*//*voyageone Contents*//*

.voContents {
    min-height: 420px;
    width: 1060px;
    position: relative;
}

.notes {
    width: 510px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    height: 260px;
    margin-top: 50px;
    box-shadow: 0 2px 5px #ccc;

}*/

/*button.buttonStyle {*/
/*padding: 3px 5px;*/
/*cursor: pointer;*/
/*background: #666;*/
/*color: #fff;*/
/*border: none;*/
/*border-radius: 4px;*/
/*min-width: 65px;*/
/*font-size: 12px;*/
/*text-align: center;*/
/*}*/

/*button.buttonStyle:hover {*/
/*background: #00a835;*/
/*}*/

/*button.buttonStyle_2 {*/
/*padding: 3px 5px;*/
/*cursor: pointer;*/
/*background: #00a835;*/
/*color: #fff;*/
/*border: none;*/
/*border-radius: 4px;*/
/*font-size: 12px;*/
/*text-align: center;*/
/*}*/

/*.button:hover {*/
/*cursor: pointer;*/
/*background: #F0750A;*/
/*color: #fff;*/
/*text-shadow: 0 0 1px #ccc;*/
/*}*/

/*.errorMes {*/
/*width: 1060px;*/
/*margin: 0 auto;*/
/*text-align: left;*/
/*}*/

/*.pageChange {
    *//*background-color: #fff;*//*
    padding: 0;
    *//*border-top: 1px solid #d4d4d4;*//*
    position: relative;
    width: 100%;
    border-top: 1px solid rgb(212, 212, 212);
}*/

/*选项卡1*/
/*#lib_Tab1 {*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*margin-bottom: 15px;*/
    /*margin-top: 10px;*/
/*}*/

/*.lib_MenuBox {*/
    /*height: 28px;*/
    /*line-height: 28px;*/
    /*position: relative;*/
/*}*/

/*.lib_MenuBox ul {*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*list-style: none;*/
    /*position: absolute;*/
    /*top: 3px;*/
    /*left: 0;*/
    /*height: 25px;*/
    /*text-align: center;*/
/*}*/

/*.lib_MenuBox li {*/
    /*float: left;*/
    /*display: block;*/
    /*cursor: pointer;*/
    /*color: #333;*/
    /*font-weight: bold;*/
    /*margin-right: 2px;*/
    /*height: 25px;*/
    /*line-height: 25px;*/
    /*background-color: #d5d5d5;*/
    /*padding: 0px 15px;*/
/*}*/

/*.lib_MenuBox li.hover {*/
    /*padding: 0px;*/
    /*background: #fff;*/
    /*border-left: 1px solid #95C9E1;*/
    /*border-top: 1px solid #95C9E1;*/
    /*border-right: 1px solid #95C9E1;*/
    /*color: #3091C2;*/
    /*height: 26px;*/
    /*line-height: 26px;*/
    /*padding: 0px 20px;*/
/*}*/

/*菜单class*/
/*.lib_tabBorder {
}

.lib_ContentBox {
    clear: both;
    margin-top: 0px;
    border-top: none;
    border: 1px solid #95C9E1;
    height: 490px;
    overflow: auto;
    text-align: center;
    padding-top: 8px;
    background: #fff;
}

.navigationName {
    text-decoration: underline;
}

.navigationIsolation {
    margin: 2px 4px;
}*/

/*导航 new*/
.nav-menu {
    height: 42px;
    float: left;
    width: 600px;
    position: relative;
}

.menu {
    margin-left: 3px;
}

.menu > li, .menu a {
    height: 42px;
    line-height: 42px;
    display: inline-block;
}

.menu > li {
    margin-left: -3px;
}

.menu a {
    display: block;
    font-weight: normal;
    font-size: 12px;
    margin: 0px;
    text-transform: uppercase;
    width: 111px;
    color: #fff;
    font-family: arial, Helvetica, sans-serif;
    text-align: center;
}

.menu > li > a {
    text-shadow: -1px -1px 0 #21546d;
}

.menu li:hover, .menu a:hover {
    color: #FF7B0E;
}

.menu li a:hover {
    text-decoration: none;
    color: #fff;
}

.menu li ul li a:hover {
    background-image: none;
}

.menu li ul {
    margin-left: -999em;
    position: absolute;
    list-style-type: none;
}

.menu li ul li, .menu li ul li a {
    background: url('../../styles/images/navmenu.png') repeat-y -171px 0;
    height: 30px;
    padding: 0 15px;
    margin-left: -40px;
}

.menu > li > a:hover {
    text-decoration: underline;
}

.menu li:hover ul {
    margin-top: -1px;
    z-index: 5;
    margin-left: 0px;
    width: 171px;
    position: absolute;
    background: url('../../styles/images/navmenu.png') no-repeat 0 5px;
    clear : both;
    border-top: 2px solid #D67A1C;
}

.menu li > ul > li:hover ul {
    display: block;
    margin-left: 156px;
    margin-top: -32px;
}

.menu li:hover ul li a {
    display: block;
    font-weight: normal;
    font-size: 12px;
    margin: 0px;
    text-transform: none;
    color: #333;
    text-align: left;
    line-height: 30px;
    height: 30px;
    background: url('../../styles/images/navmenuline.gif') repeat-x 0 bottom;
}

.menu li:hover ul li a:hover {
    color: #008CB5;
    text-decoration: underline;
    text-indent: 1px;
}

.menu ul li ul {
    display: none;
}

.menu a.menu-now {
    background-image: url('../../styles/images/navhover.gif');
    background-repeat: repeat-x;
    background-position: center top;
    margin-top: 2px;
}

.menu li.nav-btm {
    background: url('../../styles/images/navmenu.png') no-repeat -342px 0;
    height: 3px;
    line-height: 3px;
    padding: 0;
}

.note > li.active{
    background-color: #5d9cec;
}

.note > li.active > a{
    color: #fff;
    background-color: #5d9cec;
}

/*.leftMenuOnFocus {*/
/*display: block;*/
/*}*/

/*.leftMenuLostFocus {*/
/*display: none;*/
/*}*/

/*.leftMenuSubItemOnFocus {*/
/*color: #009900;*/
/*font-width: bold;*/
/*}*/

/*.bigImg {*/
/*position: fixed;*/
/*width: 100%;*/
/*height: 100%;*/
/*left: 0;*/
/*top: 0;*/
/*background: rgba(0, 0, 0, .8);*/
/*text-align: center;*/
/*z-index: 99999;*/
/*}*/

/*.bigImg .bigImgBox {*/
/*height: 500px;*/
/*width: 100%;*/
/*position: absolute;*/
/*top: 50%;*/
/*margin-top: -250px;*/
/*text-align: center;*/

/*}*/

/*.bigImg .bigImgBox img {*/
/*height: 100%;*/
/*max-width: 1000px;*/
/*}*/

/*.bigImg .bigImgBox button {*/
/*width: 50px;*/
/*position: absolute;*/
/*cursor: pointer;*/
/*border: none;*/

/*}*/

/*.bigImg .bigImgBox button img {*/
/*position: relative;*/
/*width: 100%;*/
/*right: 0;*/
/*}*/

/*.orderSearch {*/
/*font-size: 12px;*/
/*}*/

/*.tableSelectItem {*/
/*background: #c9dde1 !important;*/
/*}*/

/*popUp*/
/*.popUp {*/
/*width: 100%;*/
/*height: 100%;*/
/*position: fixed;*/
/*left: 0;*/
/*top: 0;*/
/*background: rgba(0, 0, 0, .8);*/
/*z-index: 999;*/
/*}*/

/*.orderPopTit {*/
/*height: 30px;*/
/*line-height: 30px;*/
/*background: #666;*/
/*color: #fff;*/
/*text-indent: 10px;*/
/*}*/

/*.popUpCons {*/
/*overflow: auto;*/
/*background: #fff;*/
/*border-radius: 5px;*/
/*box-shadow: 0 1px 0 #000;*/
/*position: relative;*/
/*left: 50%;*/
/*top: 50%;*/
/*}*/

/*textarea {*/
/*resize: none;*/
/*}*/

/*.table > thead > tr > th {*/
/*font-weight: bold;*/
/*background-image: linear-gradient(rgb(248, 248, 248) 0px, rgb(236, 236, 236) 100%);*/
/*vertical-align: middle;*/
/*}*/

/*.table > tbody > tr > th {*/
/*font-weight: bold;*/
/*background-image: linear-gradient(rgb(248, 248, 248) 0px, rgb(236, 236, 236) 100%);*/
/*vertical-align: middle;*/
/*}*/

/*.table > tbody > tr > td {*/
/*vertical-align: middle;*/
/*}*/

/*.row-pop-top0 {*/
/*margin-left: 0;*/
/*margin-right: 0;*/
/*}*/

/*.row-pop {*/
/*margin-left: 0;*/
/*margin-right: 0;*/
/*margin-top: 10px;*/
/*}*/

/*.row-flow {*/
/*margin-bottom: 10px;*/
/*}*/

/*.orderPopTit {*/
/*height: 30px;*/
/*line-height: 30px;*/
/*background: #666;*/
/*color: #fff;*/
/*text-indent: 10px;*/
/*}*/

/*.searchWrap {*/
/*position: relative;*/
/*}*/

/*.main-top {*/
/*background: #fff;*/
/*padding: 15px;*/
/*}*/

/*.border-bottom { width: 100%; border-bottom: 1px solid #C0C0C0;}*/
/*.border-left { height: 100%; border-left: 1px solid #C0C0C0;}*/


