<div class="ngdialog-message">
	<form role="form" name="registerForm" novalidate="" class="form-validate mb-lg ng-valid-email ng-invalid ng-invalid-required ng-dirty ng-valid-parse ng-valid-pattern ng-valid-validator">
            <div class="form-group has-feedback">
               <label class="text-muted">Old Password</label>
               <input type="password" name="account_oldpassword" ng-model="register.old_password" placeholder="Old Password" autocomplete="off" ng-model="account.oldPassword" required="" class="form-control ng-touched ng-dirty ng-valid-parse ng-valid ng-valid-validator">
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span ng-show="registerForm.account_oldpassword.$dirty &amp;&amp; registerForm.account_email.$error.required" class="text-danger ng-hide">This field is required</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Password</label>
               <input id="id-password" type="password" name="account_password" placeholder="Enter a new password" ng-model="register.password" ng-pattern="/^[a-zA-Z0-9\x21-\x7e]{6,10}$/" required="" class="form-control ng-touched ng-dirty ng-valid-parse ng-valid-required ng-valid ng-valid-pattern">
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <!-- <span ng-show="registerForm.account_password.$dirty &amp;&amp; registerForm.account_password.$error.required" class="text-danger ng-hide">This field is required</span>-->
               <span ng-show="registerForm.account_password.$dirty &amp;&amp; registerForm.account_password.$error.pattern" class="text-danger ng-hide" translate="CORE_TXT_PASSWORD_ERR1"></span> 
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Retype Password</label>
               <input type="password" name="account_password_confirm" placeholder="Type it again" ng-model="register.account_password_confirm" required="" class="form-control ng-touched ng-dirty ng-valid-parse ng-valid ng-valid-validator">
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span ng-show="register.account_password_confirm != register.password" class="text-danger ng-hide" translate="CORE_TXT_PASSWORD_ERR2"></span>
            </div>
            <div class="clearfix">
            	<span ng-show="message != ''" class="text-danger">{{message}}</span>
            </div>
            <div class="text-right">
				<button style="width: 70px" ng-disabled="!registerForm.$valid || register.account_password_confirm != register.password" class="btn btn-primary"
								ng-click="doOk()">Save</button>
				<button class="btn btn-primary" ng-click="closeThisDialog()">Cancel</button>
			</div>
         </form>
</div>