
<!--contents-->
<div id="core_menu_home" ng-controller="homeController" ng-init="initialize()" ng-cloak>
    <div class="row container block-center">
        <div class="col-xs-6">
            <div class="panel panel-primary mh400px">
                <div class="panel-heading text-bold" translate="CORE_TXT_SYSTEM_ANNOUNCEMENT"></div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="publicAnnouncement in publicAnnouncementList">
                            <a ng-click="doGetAnnouncementContent(publicAnnouncement.id)">
                                <span ng-bind="publicAnnouncement.title"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-primary mh400px">
                <div class="panel-heading text-bold"  translate="CORE_TXT_COMPANY_ANNOUNCEMENT"></div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="companyAnnouncement in companyAnnouncementList">
                            <a ng-click="doGetAnnouncementContent(companyAnnouncement.id)">
                                <span ng-bind="companyAnnouncement.title"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>