
<div id="core_account_company" ng-controller="companyController" ng-init="initialize()" ng-cloak>
    <section class="main">
        <div class="content">
            <ul class="ca-menu">
                <li ng-repeat="companyInfo in companyList" company-style>
                    <a ng-click="doSelectCompany(companyInfo.companyId)">
                        <span class="ca-icon" ng-bind="companyInfo.shortName"></span>
                        <div class="ca-content">
                            <h2 class="ca-main" ng-bind="companyInfo.companyName"></h2>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>