<div id="core_account_login" ng-controller="loginController" ng-init="initialize()" ng-cloak>
    <section class="main">
        <form class="form-login" name="loginForm"  novalidate="" class="form-validate">
            <h1 translate="CORE_TXT_LOGIN"></h1>

            <div class="float" ng-class="{'has-error': userNameInputError}">
                <label for="username" translate="CORE_TXT_USER_NAME"></label>
                <input id="username" type="text" ng-model="user.userName" placeholder="username or email"
                       class="form-control ng-pristine ng-valid ng-touched col-xs-1"
                        required="">
            </div>
            <div class="float" ng-class="{'has-error': passwordInputError}">
                <label for="password" translate="CORE_TXT_PASSWORD"></label>
                <input id="password" type="password" placeholder="Password" class="form-control"
                       ng-model="user.password" required>
            </div>
            <div class="clearFix">
                <button class="log-twitter" translate="CORE_BUTTON_SIGN_IN" ng-click="doLogin()"  ng-disabled="loginForm.$invalid"></button>
            </div>
        </form>
    </section>
</div>